@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-grey-lightest h-full;
}

#view {
    display: flex;
    justify-content: center;
    background-color: aqua;
}

#navigation {
    @apply h-full;
    background-color: purple;
}

#content {
    background-color: green;
}

@screen md {
    body {
        display: flex;
    }
    #navigation {
        @apply border-grey-darker border-r;
        min-width: 15rem;
    }
    #view {
        @apply pl-4;
        justify-content: flex-start;
        
    }
}